@import "~fontsource-roboto/300.css";
@import "~fontsource-roboto/400.css";
@import "~fontsource-roboto/500.css";
@import "~fontsource-roboto/700.css";

body,
#root {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

/* Hide arrows next to input type=number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
